@import "tailwindcss";

:root {
  --safe-top: env(safe-area-inset-top, 20px);
  --safe-bottom: env(safe-area-inset-bottom, 20px);
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  background-color: #020617;
  color: #f8fafc;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

#root {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pt-safe {
  padding-top: calc(var(--safe-top) + 2.5rem) !important;
}

.pb-safe {
  padding-bottom: calc(var(--safe-bottom) + 1.5rem) !important;
}

.scroll-container {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 140px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(71, 85, 105, 0.4);
  border-radius: 10px;
}

.view-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  z-index: 50;
}

/* Hide number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}